.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.posts-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts-container .post-card {
  margin: 15px;
}

.posts-container .post-card .comments-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.posts-container .post-card .comments-container .comment-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.posts-container .post-card .comments-container .comment-container .comment {
  text-align: left;
  font-size: 13px;
  background: #eee;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
}

.posts-container .post-card .comments-container .comment-container .comment-details {
  font-size: 10px;
  width: 15%;
  color: #777;
}

.posts-container .post-card .comments-container .no-comments-message {
  font-size: 13px;
  color: #777;
  align-self: center;
}